
h3 {
  text-align: right;
  font-weight: bolder;
  font-size: 32px;
}
.about-container {
  width: 850px;
  padding: 3em 1em 1em 1em;
  margin: 0 auto;
}

p {
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
}
