:host {
  width: 100%;
}

h3 {
  font-size: 28px;
}

.container {
  padding: 1em;
}

.reviews-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.reviews {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding-inline-start: 0;
  max-width: 65%;
}

.review-details {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

li.review-details:before {
  content: "";
  font-family: 'Material Icons';
  font-size: 24px;
  padding: 6px;
}

.btn-add {
  background: var(--light-green);
  font-weight: bold;
  color: #343919;
}

.actions {
  display: flex;
  gap: .5em;
  padding-right: .5em;
}

.edit-btn {
  background: var(--light-green);
  color: #343919;
}

.delete-btn {
  font-size:12px;
  background: var(--light-red);
}
