.search {
  margin-bottom: 16px;
}

input::placeholder {
  font-size: 14px;
}

.books-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  height: calc(100vh - 100px);
}

.book-cover img {
  max-height: 205px;
}

.books-list-container {
  overflow-y: scroll;
}

.books-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*gap: 32px;*/
  grid-template-rows: auto;
  max-height: 700px;
}

@media only screen and (max-height: 800px) {
  .books-list {
    grid-template-columns: repeat(2, 1fr);
    max-height: 560px;
    padding-bottom: 1em;
  }
}

h3 {
  font-weight: bolder;
  font-size: 34px;
}

h3 {
  text-align: right;
  font-weight: bolder;
  font-size: 28px;
  display: inline-block;
}

.book-item {
  display: flex;
  text-align: right;
  border-left: 1px solid var(--backgroundBlack);
  gap: 1em;
  padding: 1em;
}

@media only screen and (max-height: 800px) {
  .book-item {
    padding: .5em;
  }
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}
