<div class="books-container">
  <div class="search">
      <mat-form-field class="input-search">
        <input type="text" class="search-input"
              matInput
              [(ngModel)]="term"
              style="width:100%"
              placeholder="חפש">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  </div>
  <div class="books-list-container">
    <ul class="books-list" *ngIf="books$ | async as books">
      <li class="book-item" fxLayout="row" *ngFor="let book of books | filter: term; trackBy: getIdTrack">
        <div class="book-cover">
          <img *ngIf="book?.cover" src="{{book?.cover}}" class="book-img" matTooltip="{{book.title}} {{book.publisher}}, {{book.publication_year}}"/>
        </div>
        <div class="book-details">
          <a *ngIf="book?.article" target="_blank" href="{{book.article}}">בקורת על הספר</a>
          <a *ngIf="book.link !== ''" [routerLink]="['../book/', book.id]" class="list-group-item">מידע נוסף</a>
        </div>
      </li>
    </ul>
  </div>
</div>
