<div class="books-container">
  <h3>ספרים</h3>
  <div class="search">
      <mat-form-field class="input-search">
        <input type="text" class="search-input"
              matInput
              [(ngModel)]="term"
              style="width:100%"
              placeholder="חפש">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  </div>
  <div class="books-list-container">
    <ul class="books-list" *ngIf="books$ | async as books">
      <li class="book-item" fxLayout="row" *ngFor="let book of books | filter: term; trackBy: getIdTrack">
        <div class="book-cover">
          <img *ngIf="book?.cover" src="{{book?.cover}}" alt="img" width="160">
        </div>
        <div class="book-details">
          <h4>{{book.title}}</h4>
          <a *ngIf="book?.article" target="_blank" href="{{book.article}}">בקורת על הספר</a>
          <a *ngIf="book?.link" target="_blank" href="{{book.link}}">מידע נוסף</a>
          <p>{{book.publisher}}, {{book.publication_year}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
