:host {
  width: 100%;
}

.boards-container {
  background: #303030;
  direction:ltr;
  margin: 0 auto;
  height: calc(100vh - 102px);
  overflow-y: scroll;
  width: 100%;
}

.boards-container h3 {
  font-family: "Rubik", sans-serif;
  margin-top: .5em;
}

.boards {
  width: auto;
  padding: 24px;
  display: flex;
  flex-direction: row-reverse;
  /* overflow-x: scroll; */
  justify-content: flex-end;
}

.boards::-webkit-scrollbar {
  height: 4px;
  width: 4px
}
.boards::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #000;
}
.boards::-webkit-scrollbar {
  width: 3px;
  background-color: #000;
}

.boards::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border: 2px solid #555555;
}

.handle {
  cursor: move;
}

.edit-btn {
  background: #b15cff;
}


.cdk-drag-placeholder {
  opacity: 0.2;
  width: 450px;
  border: 5px dashed gray;
  margin: 0 10px;

}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.boards.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}


.board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px gray dashed;
  width: 400px;
  padding: 32px;
  height: 350px;
}
