.search {
  margin-bottom: 16px;
}


input::placeholder {
  font-size: 14px;
}

.books-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  height: calc(100vh - 100px);
}

.book-cover img {
  max-height: 205px;
}

.books-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  grid-template-rows: auto;
}

h3 {
  font-weight: bolder;
  font-size: 34px;
}

h4 {
  text-align: right;
  font-weight: bolder;
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
}

h4:hover {
  color: #606200;
}

.book-item {
  display: flex;
  text-align: right;
  gap: 1rem;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
