button img{
  width: 1.25em;
}


:host {
  text-align: center;
  background: #424242;
}

main {
  height: calc(100vh - 102px);
  background: #424242;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
