:host {
  width:100%
}
.critiques-container {
  width: 100%;
  padding: 24px 0 0 24px;
  margin: 0 auto;
}

.critiques-title {
  font-size: 28px;
}

.critiques-table {
  overflow-y: scroll;
  max-height: 600px;
}

mat-list.mat-list.mat-list-base.critiques-list {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

span.mat-list-item-content {
  align-items: flex-start;
  height: max-content;
}

.critique-item {
  height:200px;
}

.actions {
  display: flex;
  gap: 6px;
}

.actions:first-of-type {
  /*padding-top: 6px;*/
}

.btn-add {
  background: #d3daaa;
  font-weight: bold;
  color: #343919;
}

.btn {
  background: pink;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit-btn {
  background: #d3daaa;
  color: #343919;
}
