h3 {
  background: #3d6657;
  color: #fff;
  font-size: 16px;
  padding: 12px;
}

.edit-form {
  padding: 12px;
  overflow-y: scroll;
}

.submit-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.btn.btn-success {
  grid-column: 1/2;
}
