:host {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 8rem 4rem 8rem 5rem 8rem 10rem;
  margin: 0 auto;
  width: 96vw;
  padding: 30px 0;
}

.wrapper {
  width:100%;
  display: flex;
  justify-content: center;
}

.wrapper img {
  max-width: 640px;
}
