:host {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 8rem 4rem 8rem 5rem 8rem 10rem;
  margin: 0 auto;
  width: 96vw;
  padding: 30px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width:100%;
  height: calc(100vh - 96px);
}

.carousel-pic {

}

.wrapper > img {
  animation: 9s fading infinite linear;
  opacity: 0.0;
}

.w3-animate-fading{
  animation: fading 3s infinite;
}

@keyframes fading{
  0% {opacity: 0.0}
  4% {opacity: 1.0}
  33.33% {opacity: 1.0}
  37.33% {opacity: 0.0}
  100% {opacity: 0.0}
}

.wrapper > .w3-animate-fading:nth-child(1) {animation-delay: 0s}
.wrapper > .w3-animate-fading:nth-child(2) {animation-delay: 3s}
.wrapper > .w3-animate-fading:nth-child(3) {animation-delay: 6s}
