.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 8rem 4rem 8rem 5rem 8rem 10rem;
  margin: 0 auto;
  width: 96vw;
  padding: 30px 0;
}

.wrapper {
  width: 96vw;
  height: calc(100vh - 60px);
  margin: 0 auto;
  background: url('src/assets/images/background.png') no-repeat left 190px center;
  background-size: contain;
}
