<div class="modal-task-container">
<h2 *ngIf="!isEdit" mat-dialog-title>יצירת רשימה</h2>
<h2 *ngIf="isEdit">עדכון</h2>
<div mat-dialog-content>
  <label>כותרת רשימה</label>
  <mat-form-field>
   <input matInput [(ngModel)]="data.title" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">ביטול</button>
  <button mat-button [mat-dialog-close]="data.title" *ngIf="!isEdit" cdkFocusInitial>
    יצירה
  </button>
  <button mat-button [mat-dialog-close]="data" *ngIf="isEdit">
    עדכון
  </button>
</div>
</div>
