<div class="critiques-list" fxLayout="column">
  <h3>בקורת תערוכות</h3>
  <div class="search">
    <form class="example-form">
      <mat-form-field>
        <input type="text" class="search-input"
               matInput
               (keyup)="applyFilter($event)"
               placeholder="חפש בקורת"
               [(ngModel)]="term">
      </mat-form-field>
    </form>
  </div>
  <ng-container *ngIf="dataSource">
    <mat-table #table [dataSource]="dataSource" class="critiques-table mat-elevation-z4" [class.isMobile]="isMobile">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>כותרת</mat-header-cell>
        <mat-cell *matCellDef="let critique">
          <span class="mobile-label">כותרת:</span>
          <span>{{critique.title}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="museum">
        <mat-header-cell *matHeaderCellDef>מוזיאון/גלריה</mat-header-cell>
        <mat-cell *matCellDef="let critique">
          <span class="mobile-label">מוזיאון/גלריה:</span>
          <span>{{critique.museum}}</span> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="artist">
        <mat-header-cell *matHeaderCellDef>אמן</mat-header-cell>
        <mat-cell *matCellDef="let critique">
          <span class="mobile-label">אמן:</span>
          <span>{{critique.artist}}</span> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="article">
        <mat-header-cell *matHeaderCellDef>מאמר</mat-header-cell>
        <mat-cell *matCellDef="let critique">
          <span class="mobile-label">מאמר:</span>
          <a *ngIf="critique.article" href="{{critique.article}}">קישור להורדה</a> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>תאריך</mat-header-cell>
        <mat-cell *matCellDef="let critique">
          <span class="mobile-label">תאריך:</span>
          <span>{{critique.date}}</span> </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns | filter: term;"></mat-row>
    </mat-table>
    <div *ngIf="displayNoRecords" class="no-results">
      <h3>אין תוצאות</h3>
    </div>
  </ng-container>
</div>
