h3 {
  text-align: right;
  font-weight: bolder;
  font-size: 24px;
}
.critiques-list {
  width: 96vw;
  padding: 24px 0;
  margin: 0 auto;
}
h4 {
  margin-bottom: 5px;
}
mat-list.mat-list.mat-list-base.catalog-list {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

span.mat-list-item-content {
  align-items: flex-start;
  height: max-content;
}
