.books-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  overflow-y: scroll;
  /*max-height: 600px;*/
}

.book-cover img {
  width:320px;
  height: 430px;
}

.books-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  grid-template-rows: auto;
}

ul.books-list {
  display: grid;
  gap: 1.25em;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline-start: 0;
}

.book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
  padding: 0.5em;
  gap: 1em;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.actions {
  display: flex;
  gap: .5em;
}

.btn-add {
  background: var(--light-green);
  font-weight: bold;
  color: #6c8859;
}

.btn {
  background: var(--light-red);
}

.edit-btn {
  background: var(--light-green);
  color: #6c8859;
}
