<h3>ספרים</h3>
<div class="actions">
  <button (click)="openCreateBook()" class="btn-add">
    הוסף ספר
  </button>
</div>
<div class="books-container">
  <ul class="books-list" *ngIf="books">
    <li class="book-item" fxLayout="row" *ngFor="let book of books;">
      <div class="book-cover">
        <img *ngIf="book?.cover" src="{{book?.cover}}" alt="img" width="160">
      </div>
      <div class="book-details">
        <h4>{{book.title}}</h4>
        <p>{{book.publisher}}, {{book.publication_year}}</p>
        <a *ngIf="book?.article" target="_blank" href="{{book.article}}">בקורת על הספר</a>
        <a *ngIf="book?.link" target="_blank" href="{{book.link}}">מידע נוסף</a>
        <div class="actions">
          <button class="btn" (click)="deleteDialog(book.id, book.title)" mat-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button class="edit-btn" mat-button (click)="openEditBook(book)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
