.books-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  overflow-y: scroll;
  max-height: 600px;
}

.book-cover {
  /*width: 250px;*/
}

.books-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  grid-template-rows: auto;
}

h3 {
  font-size: 28px;
}

h4 {
  text-align: right;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

h4:hover {
  color: #606200;
}

ul.books-list {
  display: grid;
  gap: 1.25em;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline-start: 0;
}

.book-item {
  align-items: center;
  line-height: 20px;
  padding: 0.5em;
  gap: 1em;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.actions {
  display: flex;
  gap: .5em;
}

.btn-add {
  background: var(--light-green);
  font-weight: bold;
  color: #6c8859;
}

.btn {
  background: var(--light-red);
}

.edit-btn {
  background: var(--light-green);
  color: #343919;
}
