<div class="articles-container">
  <h3>מאמרים וביקורות ספרים בכתבי עת</h3>
  <div class="actions">
    <button (click)="createArticle()" class="btn-add">
      הוסף מאמר
    </button>
  </div>
  <app-articles-list [articles]="articles"></app-articles-list>
</div>
<div class="articles-container">
  <h3>מאמרים בעיתון ילדים</h3>
  <div class="actions">
    <button (click)="createChildArticle()" class="btn-add">
      הוסף מאמר לילדים
    </button>
  </div>
  <app-articles-for-children [childrenArticles]="childrenArticles"></app-articles-for-children>
</div>
