:host {
  width: 100%;
  display: flex;
}

.articles-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  overflow-y: scroll;
  max-height: 600px;
}

h3 {
  font-size: 28px;
}

h4 {
  text-align: right;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

h4:hover {
  color: #606200;
}

.article-item {
  display: flex;
  align-items: flex-start;
  line-height: 20px;
  padding: 0.5em;
  gap: 1em;
}

.article-item:before {
  content: "attach_file";
  font-family: "Material Icons";
  font-size: 20px;
}

.article-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  width:350px;
}

.mat-header-cell.actions, .mat-cell.actions,
.mat-header-cell.date, .mat-cell.date {
  display: flex;
  gap: .5em;
  max-width: 120px;
}

.btn-add {
  background: var(--light-green);
  font-weight: bold;
  color: #6c8859;
}

.btn {
  background: var(--light-red);
}

.edit-btn {
  background: var(--light-green);
  color: #343919;
}
