<h3 class="catalogs-title">קטלוגים</h3>
<div class="actions">
  <button (click)="openAddDialog()" class="btn-add">
    הוסף קטלוג
  </button>
</div>
<div class="catalogs-container">
  <ul class="catalog-list" *ngIf="catalogs$ | async as catalogs">
    <li class="catalog-item" fxLayout="row" *ngFor="let catalog of catalogs; let i = index">
      <app-catalog [catalog]="catalog" (openEditCat)="openEditCatalogDialog(catalog)" (deleteCat)="deleteDialog(catalog.catalog_id)"></app-catalog>
    </li>
  </ul>
</div>
