.catalogs-container {
  width: 100%;
  margin: 0 auto;
  max-height: 600px;
  overflow-y: scroll;
}

.catalogs-title {
  text-align: right;
}

.catalog-image {
  width: 250px;
}

.catalog-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  grid-template-rows: auto;
}

h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 28px;
}

h4 {
  text-align: right;
  font-weight: bolder;
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
}

h4:hover {
  color: #606200;
}

.catalog-item {
  display: flex;
  text-align: right;
  gap: 1rem;
  font-size: 14px;
}

.btn-add {
  background: var(--light-green);
  font-weight: bold;
  color: #343919;
}

