<div class="articles-container">
  <mat-tab-group dynamicHeight>
    <mat-tab label="מאמרים וביקורות ספרים בכתבי עת">
    <ng-container *ngIf="sortedData">
      <app-scholarly-articles [articles]="sortedData" [listLength]="listLength"></app-scholarly-articles>
    </ng-container>
    </mat-tab>
    <mat-tab label="מאמרים בעיתון ילדים">
      <ng-container *ngIf="childrenArticles && kidListLength !== 0">
          <app-childrens-articles [articles]="childrenArticles" [kidListLength]="kidListLength"></app-childrens-articles>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
