.catalogs-list {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

h3 {
  text-align: right;
  font-weight: bolder;
  font-size: 32px;
}

.search {
  margin-bottom: 16px;
}

.search input {
  /*box-shadow: 2px 3px 6px #55555594;*/
}

input::placeholder {
  font-size: 14px;
}

.catalog-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  grid-template-rows: auto;
}

.catalog-details {
  max-width: 300px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 1rem;
  font-size: 14px;
  max-width: 355px;
}

.catalog-image {
  display: flex;
  justify-content: center;
}

.catalog-image img {
  border: 2px solid grey;
  object-fit: cover;
}

.catalog-text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.files {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.files a {
  display: flex;
  line-height: 20px;
}

@media only screen and (max-width: 1300px) {
  .catalog-list {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-rows: auto;
    margin-top: 2em;
  }
  li.catalog-item {
    flex-direction: column;
  }

  .catalog-image {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 640px) {
  .catalog-list {
    padding-top: 2em;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-rows: auto;
  }
}
