.container {
  width: 98vw;
  margin: 0 auto;
  padding: 24px;
}

.admin-actions {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  gap: 1em;
}

.btn {
  background: #D0E3F0;
  color: #222;
  font-weight: bold;
}
