:host {
  width: 100%;
}
h2.admin-title  {
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
}

nav.mat-tab-nav-bar {
  min-height: 48px;
}

.container {
  margin: 0 auto;
  padding: 24px;
  display: flex;
  gap: 1em;
}

.admin-actions {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  padding-top: 4em;
  width: 12%;
}

.outlet {
  width: 88%;
}

.btn {
  border: 1px solid #6c8859;
  color: #6c8859;
  font-weight: bold;
  padding: 8px 6px;
  border-radius: 6px;
  min-width: 1ch;
  min-height: 4ch;
  line-height: 23px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 13ch;
  background: #bce0a3;
  max-font-size: 28px;
}

a.activeLink {
  background: aliceblue;
  color: #64a4ce;
}

a.activeLink:active, a.activeLink:current {
  background: #fff;
}
