.mat-dialog-title h3 {
  background: #6c8859;
  color: #fff;
  font-size: 24px;
  padding: 12px;
}

.mat-dialog-content {
  display: block;
  margin: 0;
  padding: 24px;
  min-height: 30vh;
}

mat-dialog-actions.mat-dialog-actions {
  justify-content: flex-end;
}

.form-controls {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-around;
}

button.btn {
  background: var(--light-green);
  font-weight: bold;
  color: #6c8859;
  font-size: 14px;
}
