<div class="catalog-image">
  <img *ngIf="catalog?.image" src="{{catalog?.image}}" alt="img" width="160">
</div>
<div class="catalog-text">
  <h4>{{ catalog?.title }}</h4> <span>{{catalog?.gallery}} {{catalog?.year}}</span>
  <a *ngIf="catalog?.urlHeb" href="{{catalog?.urlHeb}}" target="_blank">קטלוג בעברית</a>
  <a *ngIf="catalog?.urlEnglish" href="{{catalog?.urlEnglish}}" target="_blank">קטלוג באנגלית</a>
  <div class="actions">
    <button (click)="deleteCatalog(catalog?.catalog_id)" class="delete-btn" mat-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button class="edit-btn" mat-button (click)="onOpenEditCat(catalog)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
