h3 {
  background: #3d6657;
  color: #fff;
  font-size: 24px;
  padding: 12px;
}

.edit-form {
  padding: 12px;
}

.submit-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.btn.btn-success {
  grid-column: 1/2;
}

.badge-success {
  background:#BCE0A3 ;
}

.badge.close {
  background:#FFECAD ;
}
