h3 {
  background: #6c8859;
  color: #fff;
  font-size: 24px;
  padding: 12px;
}

.edit-form {
  padding: 12px;
}

.submit-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.mat-dialog-actions {
  justify-content: flex-end;
  padding-left: 1em;
}

.btn.btn-success {
  grid-column: 1/2;
}

.badge-success {
  background:var(--light-green);
  color: #6c8859;
  font-weight: bold;
}

.badge.close {
  background:var(--light-green);
}
