<div class="catalogs-container" fxLayout="column">
  <div class="search">
      <mat-form-field  class="input-search">
        <input type="text"
              matInput
              placeholder="חפש"
              style="width:100%"
              [(ngModel)]="term">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  </div>
  <div class="catalog-list-container">
    <ul class="catalog-list" *ngIf="catalogs$ | async as catalogs">
      <li class="catalog-item" *ngFor="let catalog of catalogs | filter: term; trackBy: getIdTrack">
        <div class="catalog-image">
            <img src="{{catalog?.image}}" #tooltip="matTooltip"
                matTooltip="{{catalog.title}}, {{catalog.artist}}, {{catalog.gallery}} {{catalog?.year}}"
                matTooltipPositionAtOrigin/>
        </div>
        <div class="catalog-text">
          <h3>{{ catalog.title }}</h3>
        </div>
        <div class="files" *ngIf="catalog.urlEnglish || catalog.urlHeb">
          <span *ngIf="catalog.urlHeb !== ''"><mat-icon class="download">download</mat-icon> <a class="link-heb" href="{{catalog.urlHeb}}" target="_blank">קטלוג</a></span>
          <span *ngIf="catalog.urlEnglish !== ''"><a class="link-eng" href="{{catalog.urlEnglish}}" target="_blank" style="direction: ltr;">catalog</a> <mat-icon class="download">download</mat-icon></span>
        </div>
      </li>
    </ul>
  </div>
</div>
