.outer-card {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  background: #212121;
}

.mat-card {
  background: #424242;
  color: #fff;
  display: flex;
  flex-direction: column;
}

mat-card-header.mat-card-header {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
}


.mat-card-header .mat-icon {
  cursor: pointer;
}

.inner-card {
    margin: 5px 0;
    cursor: pointer;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.cdk-drop-list.tasks {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: .5em
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
opacity: 0.5;
}

.blue { background: #75BDD1; color: black; }
.green { background: #78C247; color: black;  }
.yellow { background: #FFD449; color: black; }
.purple { background: #b15cff; }
.red { background: #EA5D5D; }

.gray { background: gray; text-decoration: line-through; }
