.outer-card {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  background: #212121;
}

.mat-card {
  background: #424242;
  color: #fff;
}

.inner-card {
    margin: 5px 0;
    cursor: pointer;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
opacity: 0.5;
}

.blue { background: #75BDD1; color: black; }
.green { background: #78C247; color: black;  }
.yellow { background: #FFD449; color: black; }
.purple { background: #b15cff; }
.red { background: #EA5D5D; }

.gray { background: gray; text-decoration: line-through; }
