/* You can add global styles to this file, and also import other style files */
/*@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*@font-face {*/
/*  font-family: "Rubik Regular";*/
/*  src: url("/assets/fonts/Rubik-Regular.ttf");*/
/*  !*src: url("CustomFont.woff") format("woff"),*!*/
/*  !*url("CustomFont.otf") format("opentype"),*!*/
/*  !*url("CustomFont.svg#filename") format("svg");*!*/
/*}*/
/*@font-face {*/
/*  font-family: "Rubik Bold";*/
/*  src: url("/assets/fonts/Rubik-Bold.ttf");*/
/*}*/
* {
  direction: rtl;
  box-sizing: border-box;
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

body::-webkit-scrollbar {
  width: 11px;
}

html, body {
  height: 100%;
  font-family: 'Frank Ruhl Libre', sans-serif;
  font-weight: 500;
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body { margin: 0; overflow-x: hidden; scrollbar-color: rebeccapurple green; }


.material-icons{
  font-family: 'Material Icons', sans-serif !important;
}

.list-group {
  text-align: right;
}

.mat-typography,
.mat-typography>div{
  font-family: 'Frank Ruhl Libre', sans-serif;
}

.mat-typography h4, .mat-typography h3,
.mat-typography h2, .mat-typography h1{
  font-weight: 600;
  font-size: 1.4em;
  color: #367CAB;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  align-items: flex-start !important;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: max-content !important;
}

.mat-form-field {
  text-align: revert !important;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

.mat-dialog-actions {
  min-height: 23% !important;
}

/* .mat-form-field-flex {
  width: 220px !important;
} */

mat-date-range-picker.mat-datepicker-content {
  direction: ltr !important;
}

.mat-list-base .mat-list-item.critique-item {
  min-height: 120px;
}

.mat-form-field .mat-form-field-flex {
  flex-wrap: wrap;
}

.mat-table {
  /* background: #eff6fa59; */
  width: 100%;
  box-shadow: none;
}

.mat-header-cell {
  text-align: right !important;
  font-size: 20px;
  padding-right: 12px !important;
  padding-left: revert;
  font-family: 'Rubik', serif;
  font-weight: bolder;
  color: #41471F;
}

.mat-cell {
  font-size: 16px;
  font-family: 'Frank Ruhl Libre', serif;
  padding: 6px 0;
}

/* input.mat-input-element.search-input {
  border-radius: 4px 4px 0 0;
  background: #0000000a;
  padding: 0.75em 0.75em 0 0.75em;
  border: none;
  border-bottom: 1px solid #000;
  min-width: 350px;
  height: 46px;
  outline: none;
  box-shadow: none !important;
} */

.mat-header-cell:first-of-type, .mat-cell:first-of-type, .mat-footer-cell:first-of-type {
  padding-left: 0 !important;
  padding-right: 12px !important;
}

mat-card-header.board-header .mat-card-header-text {
  margin: 0;
}

.mat-input-element.search-input::placeholder {
  font-size: 16px;
}

.task-modal .mat-dialog-container, .task-modal .mat-dialog-content, .task-modal .mat-dialog-actions {
  background-color: #424242 !important;
}

.mat-button-toggle {
  background-color: #424242;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: #fff;
}

.mat-button-toggle-checked {
  background-color: #212121;
  color: rgba(255,255,255,.7);
}

button {
  border: none;
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

@media(max-width: 600px) {
  mat-row, mat-footer-row {
    min-height: revert !important;
  }

  .row .mat-cell {
    padding-right: 12px !important;
  }
}
