/* You can add global styles to this file, and also import other style files */
/*@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  direction: rtl;
}

html, body { height: 100%; font-family: 'Alef', sans-serif; font-size: 16px;}

body { margin: 0; overflow-x: hidden; }


.material-icons{
  font-family: 'Material Icons' !important;
}

.list-group {
  text-align: right;
}

.mat-typography,
.mat-typography div,
.mat-typography h1, .mat-typography h2,
.mat-typography h3, .mat-typography h4{
  font-family: 'Alef', sans-serif;
}

.mat-typography h4 {
  font-weight: 600;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  align-items: flex-start !important;
}

.mat-form-field {
  text-align: revert !important;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

.mat-dialog-actions {
  min-height: 23% !important;
}

.mat-form-field-flex {
  width: 220px !important;
}

button {
  border: none;
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
