<div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    </label>
  </div>
  <div class="col-4">
    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload($event)">
      Upload
    </button>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <br>
  <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
    File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
  </div>
  <br>
  <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
    <button type="button" class="btn btn-primary" (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
    <button type="button" class="btn btn-primary" (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
  </div>
</div>
<!--<div class="row" *ngIf="files">-->
<!--  <div *ngFor="let file in files.items">-->
<!--    {{file | json}}-->
<!--  </div>-->
<!--</div>-->

<!--<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>-->
<!--<div class="card mt-3">-->
<!--  <div class="card-header">List of Files</div>-->
<!--  <ul-->
<!--    class="list-group list-group-flush"-->
<!--    *ngFor="let file of fileInfos | async">-->
<!--    <li class="list-group-item">-->
<!--      <a href="{{ file.url }}">{{ file.name }}</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
