.container h2 {
  text-align: center;
  margin: 25px auto;
}
.bg-dark {
  background: #262626;
  display: flex;
  width: 100%;
  padding: 6px;
}

nav.navbar {
  width: 85vw;
  margin: 0 auto;
  display: flex;
}

ul.navbar-nav {
  display: flex;
  align-items: center;
  padding-inline-start: 0;
  list-style-type: none;
}

.nav-item {
  margin-inline-start: 1em;
}

.navbar-brand {
  display: flex;
  background: url('../../../assets/images/logo_figure.png') no-repeat, url('../../../assets/images/logo_text.png') no-repeat;
  width: 170px;
  height: 90px;
  background-size: 52px 90px , 70%;
  background-position: top right, left center;
}


a.nav-link {
  color: #fff;
  font-size: 20px;
  text-decoration: double underline;
  text-underline-offset: 8px;
  font-family: 'Rubik', sans-serif;
}

a.nav-link:hover, a.nav-link.active {
  color: #C1DCEB;
}
