<div class="bg-dark">
<nav class="navbar navbar-expand navbar-dark">
  <div class="navbar-brand">
    <a href="/"><img src="../../../assets/images/logo_text.png" alt="ויזואליק לוגו" title="ויזואליק לוגו"/></a>
  </div>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="catalogs" [ngClass]="{'nav-link': true, 'active' : isActive('catalogs')}">קטלוגים</a>
    </li>
    <li class="nav-item">
      <a routerLink="books" [ngClass]="{'nav-link': true, 'active' : isActive('books')}">ספרים</a>
    </li>
    <li class="nav-item">
      <a routerLink="critique" [ngClass]="{'nav-link': true, 'active' : isActive('critique')}">ביקורת תערוכות</a>
    </li>
    <li class="nav-item">
      <a routerLink="articles" [ngClass]="{'nav-link': true, 'active' : isActive('articles')}">מאמרים</a>
    </li>
    <li class="nav-item">
      <a routerLink="about" [ngClass]="{'nav-link': true, 'active' : isActive('about')}">אודות</a>
    </li>
  </ul>
</nav>
</div>
