:host {
  width: 100%;
}

h3 {
  font-size: 28px;
}

.videos-container {
  width:100%
}

.videos-table {
  overflow-y: scroll;
  max-height: 600px;
}

.cell-date {
  max-width: 150px;
}

/* mat-header-cell.mat-header-cell {
  width: 33.333%
} */

.cell-actions {
  max-width: 160px;
}


