<!--suppress TypeScriptUnresolvedVariable -->
<div class="critiques-list" fxLayout="column">
  <div class="search">
      <mat-form-field class="input-search">
        <input matInput placeholder="חפש" #searchInput (keyup)="applyFilter()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  </div>
  <ng-container *ngIf="sortedData">
    <mat-table #table matSort [dataSource]="sortedData" [trackBy]="trackByUid" class="animate" [class.isMobile]="isMobile">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef style="min-width:400px" mat-sort-header>כותרת</mat-header-cell>
        <mat-cell *matCellDef="let critique" style="min-width:400px">
          <span class="mobile-label">כותרת:</span>
          <a *ngIf="critique.article" href="{{critique.article}}" target="_blank"><strong>{{critique.title}}</strong></a>
          <strong  *ngIf="!critique.article">{{critique.title}}</strong>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="museum">
        <mat-header-cell *matHeaderCellDef mat-sort-header>מוזיאון/גלריה</mat-header-cell>
        <mat-cell *matCellDef="let critique">
          <span class="mobile-label">מוזיאון/גלריה:</span>
          <span>{{critique.museum}}</span> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="artist">
        <mat-header-cell *matHeaderCellDef mat-sort-header>אמן</mat-header-cell>
        <mat-cell *matCellDef="let critique">
          <span class="mobile-label">אמן:</span>
          <span>{{critique.artist}}</span> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="paper">
        <mat-header-cell *matHeaderCellDef mat-sort-header>עיתון</mat-header-cell>
        <mat-cell *matCellDef="let critique">
          <span class="mobile-label">עיתון:</span>
          <span>{{critique.paper}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך</mat-header-cell>
        <mat-cell *matCellDef="let critique">
          <span class="mobile-label">תאריך:</span>
          <span *ngIf="critique.date !== 'Invalid Date'">{{critique.date}}</span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" class="animate"></mat-row>
    </mat-table>
<!--    <div class="paging-container">-->
<!--      <mat-paginator style="direction: ltr;" [length]="pageAmount" [pageSizeOptions]="[10, 15, 20]" aria-label="Select page of users"></mat-paginator>-->
<!--    </div>-->
<!--    <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"></mat-paginator>-->
    <div *ngIf="listLength === 0" class="no-results">
      <h3>אין תוצאות</h3>
    </div>
  </ng-container>
</div>
