:host {
  width: 100%;
}

.page-container {
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}

.videos-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:1.5em;
  max-height: 700px;
  overflow-y: scroll;
}

@media only screen and (max-width: 1300px) {
  .videos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1300px) {
  .videos-container {
    max-height: 640px;
  }
}

@media only screen and (max-width: 970px) {
  .videos-container {
    grid-template-columns: 1fr;
  }
}

h3 {
  font-weight: bolder;
  font-size: 34px;
}

.video {
  display: flex;
  flex-direction: column;
}

.video img {
  max-width: 320px;
}

.info {
  font-size: 26px;
  line-height: 30px;
  word-break: break-word;
  width: 320px;
}
