<div class="page-container">
  <div class="videos-container">
    <div class="video" *ngFor="let video of videosList">
      <a *ngIf="video.videoId" href="{{video.link}}" target="_blank"><img src="{{'https://img.youtube.com/vi/' + video.videoId + '/0.jpg'}}" alt="{{video.title}}"/></a>
      <a *ngIf="video.thumbnail" href="{{video.link}}" target="_blank"><img src="{{video.thumbnail}}" alt="{{video.title}}"/></a>
      <div class="info">
        {{video.title}} {{video.date}}
      </div>
    </div>
  </div>
</div>
